{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container" style="margin-top:6%">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-5">
                        <img src="{{ hood.photo.url }}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-7" >
                        <div class="card-body">
                            <h5 class="card-title tt">{{ hood.name }}
                            </h5>
                            <p>Location:{{hood.location}}</p>
                            <p class="card-text">{{hood.description}}</p>
                            <p class="card-text"><span class="text-info">Police Toll:</span>
                                &nbsp;<strong>{{hood.police_toll}}</strong> |
                                <span class="text-info">Hospital Toll:</span> <strong>{{hood.health_toll}}</strong></p>
                            <p class="card-text">Administrator: <small class="text-muted">
                                {{ hood.admin.user.username }}</small></p>

                    </div>
                </div>
            </div>
        </div>     
    </div>
</div>
<style>
    .card-img{
        height: 500px;
    }
</style>
{% endblock %}